.no-chat {
	height: 100%;
}

.chat-area {
	position: absolute;
	top: 64px;
	right: 0;
	bottom: 0;
	background-color: #121212;
	width: 70vw;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	color: #d9d9d9;
	display: flex;
	flex-direction: column;
}

.no-chat {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.placeholder-image {
	width: 20%;
}
