.chat-details {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background: #212121;
}

.user-image {
	background: transparent;
	outline: none;
	border: none;
}

.user-image > img {
	background: grey;
	padding: 12px;
	border-radius: 50%;
}

.details-wrapper {
	display: flex;
	align-items: center;
}

.user-info {
	margin-bottom: 6px;
	margin-left: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.display-name {
	font-weight: 600;
}

.status {
	margin-top: 4px;
	font-size: 13px;
	color: rgb(168, 168, 168);
}

.online {
	color: rgb(0, 150, 0);
}
