.menu {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	background: #212121;
}

.menu-button {
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

.menu-button > img {
	background: grey;
	padding: 6px;
	border-radius: 50%;
}
