.container {
	background: url('../../Assets/background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.header {
	text-align: center;
	margin-bottom: 2rem;
}

.heading {
	font-size: 2.5rem;
	font-weight: bold;
	color: white;
}

.main {
	display: grid;
}

/* Form Container */
.form-container form {
	background-color: rgb(49, 51, 56);
	border-radius: 8px;
	width: 30vw;
	min-width: fit-content;
}

/* Form Wrapper */
.form-wrapper {
	position: relative;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

/* Form Elements */
.form-wrapper > * {
	margin: 10px;
}

.server-options {
	position: relative;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0.5rem;
	background-color: rgb(56, 71, 236);
	box-sizing: border-box;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
	padding: 0.25rem;
	width: 90%;
	font-size: 14px;
}

.server-options .server-option {
	flex: 1 1 auto;
	text-align: center;
}

.server-options .server-option input {
	display: none;
}

.server-options .server-option .option-name {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	border: none;
	padding: 0.5rem 0;
	color: white;
	transition: all 0.15s ease-in-out;
}

.server-options .server-option input:checked + .option-name {
	background-color: rgb(85, 98, 243);
	font-weight: 600;
}

/* Label Styles */

/* .form-wrapper > label[for='server'] > span.label-text {
	margin: 12px;
	font-size: 16px;
	color: white;
} */

.form-wrapper > label > span {
	color: rgb(181, 186, 193);
	font-family: var(--font-primary);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 8px;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-wrapper > label[for='host'] > span.join-info {
	text-align: center;
}

.form-wrapper > label[for='host'] > span.label-text {
	text-align: center;
	font-size: 18px;
	color: white;
	margin-top: 20px;
}

/* Input Styles */
.form-wrapper > label > input {
	font-family: var(--font-primary);
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 3px;
	background-color: rgb(30, 31, 34);
	color: rgb(219, 222, 225);
	font-weight: 400;
	box-sizing: border-box;
	transition: border-color 0.2s ease-in-out;
	outline: 0;
}

/* Button Styles */
.form-wrapper > button {
	font-family: var(--font-primary);
	cursor: pointer;
	outline: 0;
	user-select: none;
	padding: 2px 16px;
	align-items: center;
	box-sizing: border-box;
	background: none;
	border: none;
	border-radius: 3px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	position: relative;
	transition: background-color 0.17s ease, color 0.17s ease;
	height: 44px;
	min-width: 130px;
	min-height: 44px;
	font-size: 16px;
	line-height: 24px;
	background-color: rgb(56, 71, 236);
	color: rgb(255, 255, 255);
}

@media (min-width: 1600px) {
	form {
		width: 432px;
	}
}
