.sidebar {
	position: absolute;
	top: 64px;
	left: 0;
	bottom: 0;
	background-color: #1a1a1a;
	width: 30vw;
}

.loading {
	position: relative;
	top: 20%;
	width: 100%;
}

.gif-bg {
	background-color: #161519;
}
